process {
    
    executor = 'local'
    // Default settings for all processes
    memory = '16GB'
    
    withLabel: 'high_memory' {
        memory = '64GB'
        scratch = '/mnt/scratch'
        cpus = 14
        
    }
    
}


params {
   
    samplesheet= null
    hiphase_samplesheet=null
    trio_samplesheet=null
    
    reference = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/human_GRCh38_no_alt_analysis_set.fasta"
    reference_index = "${reference}.fai"

   

    output_dir= "s3://hifi-wgs-output"
    aligned_output_dir = "${params.output_dir}/aligned-bams"
    bam_stats_output_dir =  "${params.output_dir}/bamstats"
    deepvariant_output_dir = "${params.output_dir}/deepvariant"
    hiphase_output_dir = "${params.output_dir}/hiphase"
    cpg_output_dir = "${params.output_dir}/cpg"


    cpu = 14
    sort_threads = 2

    deepvariant_threads=16

    target_region = null

}


docker.enabled = true
wave.enabled = true
fusion.enabled = false

workDir='/mnt/work'



