process {
    
    // Default configuration - all processes use your spot environment
    errorStrategy = 'retry'
    maxRetries = 2
   
    
   
    withName: 'pbmm2_align|deepvariant_wgs' {
        queue = 'TowerForge-7hxrbYGSOMD6eweMBX4M90'
        cpus = 16
        memory = { 64.GB * task.attempt }
        ext.model_type = 'PACBIO'
        ext.args = '-m 8G'  // 8GB per sort thread
    }

    withName: 'cpg_methylation_calling|mosdepth' {
        cpus = 4
        memory = { 16.GB * task.attempt }
        queue = 'TowerForge-65jW9ftzynV2CSKqbQX8BN-work'
        
    }

    withName: 'infer_sex|plot_dist_coverage' {
        cpus = 2
        memory = { 4.GB * task.attempt }
        queue = 'TowerForge-16njZ8R9AdOeQ09BDGiGDp-work'
    }
    



params {
   
    samplesheet= null
    hiphase_samplesheet=null
    trio_samplesheet=null
    
    reference = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/human_GRCh38_no_alt_analysis_set.fasta"
    reference_index = "${reference}.fai"

   

    output_dir= "s3://embedbio-results/hifi-wgs-output"
    aligned_output_dir = "${params.output_dir}/aligned-bams"
    bam_stats_output_dir =  "${params.output_dir}/bamstats"
    deepvariant_output_dir = "${params.output_dir}/deepvariant"
    hiphase_output_dir = "${params.output_dir}/hiphase"
    cpg_output_dir = "${params.output_dir}/cpg"
    mosdepth_output_dir = "${params.output_dir}/mosdepth"

   


    target_region = null

}


docker.enabled = true
wave.enabled = true
fusion.enabled = true


}


