process {
    
    executor = 'local'
    // Default settings for all processes
    memory = '16GB'
    
    withLabel: 'high_memory' {
        memory = '64GB'
        
    }
    
}





params {
   
    samplesheet= "samplesheet.csv"
    
    reference = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/human_GRCh38_no_alt_analysis_set.fasta"
    reference_index = "${reference}.fai"

    syt1_region="chr12:78814774-79502008"

    output_dir= "s3://hypadata195085494707aes256uw2/p/o/b9630c9edfae42f491508ab0eec1a335/StanfordPacBio/"
    aligned_output_dir = "s3://hypadata195085494707aes256uw2/p/o/b9630c9edfae42f491508ab0eec1a335/StanfordPacBio/"
    bam_stats_output_dir =  "s3://hypadata195085494707aes256uw2/p/o/b9630c9edfae42f491508ab0eec1a335/StanfordPacBio/"
    deepvariant_output_dir = "s3://hypadata195085494707aes256uw2/p/o/b9630c9edfae42f491508ab0eec1a335/StanfordPacBio/"
    hiphase_output_dir = "s3://hypadata195085494707aes256uw2/p/o/b9630c9edfae42f491508ab0eec1a335/StanfordPacBio/"
    karyotype='XX'
    
    
    
    cpu = 14
    sort_threads = 2

    deepvariant_threads=16


}


docker.enabled = true
wave.enabled = true

tower {
  accessToken = "eyJ0aWQiOiAxMzI3MH0uNzBmYmUyNWU3NjZmNTNjMjRiZTJmYTU3MTgwODc0NTllNzBlY2YzOA=="
}

